@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: white;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
    }
}

@layer components {
    .hn-arrow {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 7px solid #828282;
        display: inline-block;
        margin-right: 4px;
    }
}
