node_modules/
.DS_Store
dist/
build/
.env
.env.*
!.env.example
*.log
# supabaseConfig.js (Tracked in Git to ensure successful deployment and prevent 404 errors)
# supabaseConfig.js


# XtraSecurity config
.xtrarc
env.json
runtime-config.json
